<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

  <div class="comment">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
  </div>

  <h1>Books</h1>
    <table>
      <thead>
      	<tr>
      	  <th><P>title</P></th>
        </tr>
      </thead>
      <tbody>
      	<% @books.each do |book| %>
      	<tr>
      	  <td><span><%= book.title %></span></td>
      	  <td><span><%= book.body %></span></td>
      	  <td><span><%= link_to "show", "/books/#{book.id}" %></span></td>
      	  <td><span><%= link_to "edit", edit_post_path(book) %></span></td>
      	  <td><span><%= link_to "destroy", destroy_ost_path(book), method: :delete, "data-confirm" =>"Are you sure？" %></span></td>
        </tr>
        <% end %>
      </tbody>
    </table>


  <h1>New book</h1>
  <%= form_for(@book) do |f| %>

    <h4>Title</h4>
    <%= f.text_field :title %>

    <h4>Body</h4>
    <%= f.text_area :body %>
    <br>
    <%= f.submit 'Create Book' %>

  <% end %>


</body>
</html>